/* LEFT TEXT */

.left-content {
  width: 50%;
}

.left-content h1 {
  font-size: 42px;
  font-weight: 800;
}

.left-content h2 {
  margin: 10px 0 10px;
  font-size: 20px;
  color: var(--text-light);
}

.left-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

/* CTA BUTTONS */

.cta-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.social {
  display: flex;
  align-items: center;
  gap: 8px;
}

.github {
  background: #0d1117;
  color: white;
}

.discord {
  background: #5865F2;
  color: white;
}

.twitter {
  background: #1DA1F2;
  color: white;
}

.social:hover {
  transform: scale(1.06);
  opacity: 0.9;
}

/* RIGHT IMAGE */

.right-content img {
  width: 430px;
}


/* MODAL */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: grid;
  place-items: center;
}

.hidden {
  display: none;
}

.modal-box {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.links a {
  color: #111;
  font-weight: 600;
}


/* RESPONSIVE */

@media (max-width: 850px) {
  .intro {
    flex-direction: column;
    text-align: center;
  }

  .left-content {
    width: 100%;
  }

  .right-content img {
    width: 300px;
    margin-top: 20px;
  }
}
